body {
    font-family: Arial, sans-serif;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
}

h1, h2 {
    margin: 60px 0 40px 0;
    color: #000;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f0f0f0;
}

th {
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

td {
    padding: 10px;
}

.box, form {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 250px;
    height: 30px;
    border-radius: 30px;
    padding: 0 15px 0 15px;
}

button, .btn {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.btn {
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.btn.delete {
    background-color: #dc3545;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#pesquisa {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
    outline: none;
}

#pesquisa::placeholder {
    color: #999;
}

#pesquisa:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

button[type="submit"], .btn-people {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

button#btn-pessoas-registradas {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #00a2ff;
    color: white;
    transition: background-color 0.3s;
}

button#btn-pessoas-registradas:hover {
    background-color: #0073a5;
}


.box button[type="submit"], .box .btn-people {
    margin-top: 20px;
}
.btn-voltar {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-voltar:hover {
    background-color: #0056b3;
}

